/*==============================================*/
/*                                   Extra Small-bar start ===============================================*/


@media (min-width: 320px) and (max-width: 575px) {
    nav {
        background: #000000;
        text-align: center;
    }

    nav .container button {
        color: #ffffff;
        outline: none;
    }

    nav .container button:hover {
        color: rgb(254, 198, 0);
        outline: none;
    }

    .navbar-nav .nav-item a {
        margin: 10px;
    }

    .navbar-nav .nav-item a::after {
        top: 57px;
    }

    .title h3 {
        font-size: 25px;
    }

    .title p {
        width: auto;
        font-size: 13px;
        margin: 15px 0;
    }

    #banner-part .overlay {
        padding: 140px 0 60px 0;
    }

    #banner-part .overlay .container .text h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
    }

    #banner-part .overlay .container .text h1 {
        font-size: 35px;
    }

    #banner-part .overlay .container .text p {
        font-size: 13px;
        width: auto;
    }

    #banner-part .overlay .container .button button {
        width: 120px;
    }

    #about-us .container .round {
        width: 280px;
        height: 280px;
        margin: 0 auto;
    }

    #about-us .container .round .img {
        width: 240px;
        height: 240px;
    }

    #about-us .container .text .triangle {
        display: none;
    }

    #about-us .container .text .dot {
        display: none;
    }

    #about-us .container .text p {
        width: auto;
        font-size: 13px;
        margin-top: 15px;
    }

    #about-us .container .text {
        margin: 10px 0;
    }

    #portfolio .title {
        padding: 0;
    }

    #portfolio .container .images {
        margin-top: 0;
    }

    #portfolio .overlay {
        padding: 20px 0;
    }

    #pro-shape {
        display: none;
    }

    #service-part .container .line {
        display: none;
    }

    #service-part .container .service-slider .service-name {
        justify-content: center;
        padding: 30px;
    }

    #service-part .container .service-slider .rt .service-name {
        justify-content: center;
    }

    #service-part .container .service-slider .service-img {
        padding: 30px;
    }

    #service-part .container .service-slider .service-details {
        padding: 30px;
    }

    #service-part .container .service-slider .slick-center .service-details {
        filter: drop-shadow(0 0 0 black);
    }

    #tm_slide .line {
        display: none;
    }

    #tm_slide .images {
        margin: 30px auto;
    }

    #tm_slide .right_slide .tm_text {
        height: auto;
    }

    #tm-shape {
        display: none;
    }

    #tm_slide .box {
        display: none;
    }

    #price-part {
        margin: 20px 5px;
    }

    #price-part .price-tab {
        justify-content: center;
    }

    #price-part .price-tab .price-item {
        margin-top: 10px;

    }

    #counter {
        height: auto;
    }

    #counter .counter-tab .c-text {
        margin-top: 5px;
    }

    #team-part .res {
        justify-content: center !important;
    }

    #theme {
        height: auto;
    }

    #footer::after {
        top: -15%;
    }

}

/*Extra Small-bar End ===============================================*/