*{
    margin: 0;
    padding: 0;

}

ol, ul {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;

}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

body {
    overflow-x: hidden;
}

.title {
    text-align: center;
}

.title h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 500;

}

.title p {
    width: 580px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 25px auto;
}

/*==============================================*/
/*                                   pre-loader start ===============================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(254, 198, 0);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #333333;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(254, 198, 0);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*==============================================*/
/*                                   pre-loader End ===============================================*/

/*==============================================*/
/*                                   Nav-bar start ===============================================*/
nav {
    border-bottom: 1px solid rgba(254, 198, 0, .2);
    background-color: transparent;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8888;


}

.navbar-nav .nav-item a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin: 15px;
    display: inline-block;
    position: relative;
    transition: .4s;

}

.navbar-nav .nav-item a::after {
    position: absolute;
    top: 62px;
    left: 0;
    width: 0;
    height: 3px;
    content: "";
    background-color: rgb(254, 198, 0);
    transition: .4s;

}

.navbar-nav .nav-item a:hover {
    color: rgb(254, 198, 0);
}

.navbar-nav .nav-item a:hover::after {
    width: 100%;
}


/*==============================================*/
/*                                   Nav-bar End ===============================================*/
/*==============================================*/
/*                                   Small-Nav-bar start ===============================================*/


@media (min-width: 576px) and (max-width: 991px) {
    nav {
        background: #000000;
    }

    nav .container button {
        color: #ffffff;
        outline: none;
    }

    nav .container button:hover {
        color: rgb(254, 198, 0);
        outline: none;
    }

}

/*==============================================*/
/*                                   Small-Nav-bar End ===============================================*/
/*==============================================*/
/*                                   Banner-Part Start ===============================================*/
#banner-part .banner {
    background: url("../images/b_bg.png") no-repeat center;
    background-size: cover;
}

#banner-part .overlay {
    background-color: rgba(0, 0, 0, .6);
    padding: 245px 0 185px 0;
    text-align: center;
    color: white;
    position: relative;


}

#banner-part .overlay .container .text h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

#banner-part .overlay .container .text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: rgb(254, 198, 0);
    text-transform: uppercase;
    margin-top: 10px;

}

#banner-part .overlay .container .text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 540px;
    margin: 20px auto;

}

#banner-part .overlay .container .button button {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 131px;
    height: 52px;
    background: transparent;
    border: 1px solid white;
    margin: 30px 10px;
}

#banner-part .overlay .container .button button a {
    color: white;
}

#banner-part .overlay .container .button button:hover {
    border: 1px solid rgb(254, 198, 0);
    background: rgb(254, 198, 0);
    transition: .4s;

}

#banner-part .overlay .container .button button:hover a {
    color: black;
}

.banner-shape {

    position: relative;
}

.banner-shape .shape {
    width: 100%;
    height: 200px;
    background-color: white;
    transform: skew(-87deg);
    transform-origin: left bottom;
    position: absolute;
    top: -200px;
    left: 0;

}

/*=============================slider-arrow=============================== */
#banner-part .overlay .arrow-prev {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30px;
    transition: .4s;

}

#banner-part .overlay .arrow-next {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 30px;
    transition: .4s;
}

#banner-part .overlay .arrow-prev i {
    color: #000;
    font-size: 30px;
    line-height: 40px;
    transition: 0.4s;
}

#banner-part .overlay .arrow-next i {
    color: #000;
    font-size: 30px;
    transition: .4s;
    line-height: 40px;


}

#banner-part .overlay .arrow-prev:hover {
    background: rgb(254, 198, 0);
}

#banner-part .overlay .arrow-next:hover {
    background: rgb(254, 198, 0);
}

/*=================================slider-end=============================*/


/*==============================================*/
/*                                   Banner-Part End ===============================================*/
/*==============================================*/
/*                                   About-Part start===============================================*/


#about-us .container .round {
    border: 1px solid black;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: relative;
}

#about-us .container .round .img {
    height: 280px;
    width: 280px;
    background: url("../images/about.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-us .container .round .img .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;


}

#about-us .container .text {
    padding: 45px 35px 45px 35px;
    background-color: #eeeeee;
    text-align: center;
    margin: 30px 0;
    border-radius: 5px;
    position: relative;
    transition: .4s;
}

#about-us .container .text h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: black;

}

#about-us .container .text p {
    width: 278px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 30px;
}

#about-us .container .text .triangle {
    width: 30px;
    height: 30px;
    background: #eeeeee;
}

#about-us .container .text .top {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

#about-us .container .text .dot {
    font-size: 15px;
    color: #000;
    transition: .4s;
    z-index: 1;

}

#about-us .container .text .du {
    position: absolute;
    bottom: -41px;
    left: 50%;
    transform: translateX(-50%);
}

#about-us .container .text .left {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%) rotate(45deg);
}

#about-us .container .text .dl {
    position: absolute;
    right: -41px;
    top: 50%;
    transform: translateY(-50%);
}

#about-us .container .text .right {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) rotate(45deg);
}

#about-us .container .text .dr {
    position: absolute;
    left: -41px;
    top: 50%;
    transform: translateY(-50%);
}

#about-us .container .text .bottom {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

#about-us .container .text .dd {
    position: absolute;
    top: -41px;
    left: 50%;
    transform: translateX(-50%);
}

#about-us .container .text:hover {
    filter: drop-shadow(0 0 10px black);
}

#about-us .container .text:hover .dot {
    color: #fec600;
}

/*==============================================*/
/*                                   About-Part End===============================================*/

/*==============================================*/
/*                                   Portfolio-Part start===============================================*/

#portfolio {
    background: url("../images/a_bg.png") no-repeat center;
    background-size: cover;
    transform-origin: bottom right;
    position: relative;


}

#portfolio .title {

}

#portfolio .overlay {
    background-color: rgba(0, 0, 0, .6);
    padding: 40px 0;
    color: white;


}

#portfolio .container .images {
    margin-top: 60px;
}

#portfolio .container .item {
    margin: 30px 0;
    position: relative;


}

#portfolio .container .item img {
    width: 100%;
}

#portfolio .container .item .port-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 0.4s;


}

#portfolio .container .item i {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#portfolio .container .item:hover .port-overlay {
    transform: scale(1);

}

#pro-shape {

    position: relative;
}

#pro-shape .shape {
    width: 100%;
    height: 200px;
    background-color: white;
    transform: skew(-88deg);
    transform-origin: left bottom;
    position: absolute;
    top: -200px;
    left: 0;

}

#pro-shape .t-b {
    top: -973px;
    transform-origin: left top;
}

/*==============================================*/
/*                                   Portfolio-Part End===============================================*/
/*==============================================*/
/*                                   Service-Part Start===============================================*/

#service-part .title {
    margin: 10px 0;
}

#service-part .container {
    position: relative;
}

#service-part .container .line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#service-part .container .service-slider {
    margin: 100px 0;
}

#service-part .container .service-slider .service-tab {
    margin: 20px 0;
}

#service-part .container .service-slider .service-name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 30px;


}

#service-part .container .service-slider .service-name h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

#service-part .container .service-slider .service-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;


}

#service-part .container .service-slider .service-img .images {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #eeeeee;
    text-align: center;
    line-height: 70px;
}

#service-part .container .service-slider .service-details {
    display: flex;
    align-items: center;
    padding: 50px 30px;
    background-color: #eeeeee;
    border-radius: 5px;


}

#service-part .container .service-slider .service-details p {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

    position: relative;
}

#service-part .container .service-slider .box {
    height: 30px;
    width: 30px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: -3%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 5px;

}

.slick-slide {
    outline: none;
}

.slick-slide img {
    display: inline-block;
}

#service-part .container .service-slider .slick-center .images {
    transform: scale(1.2);
    background-color: rgb(254, 198, 0);
}

#service-part .container .service-slider .slick-center .service-details {
    filter: drop-shadow(0 0 5px black);
}

#service-part .container .service-slider .prev {
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);

}

#service-part .container .service-slider .next {
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -57px;
    left: 50%;
    transform: translateX(-50%);

}

#service-part .container .service-slider .rt .service-name {
    justify-content: flex-start;
}

#service-part .container .service-slider .rt .service-details {
    text-align: right;
}

#service-part .container .service-slider .rt .box {
    left: 96%;
}

/*==============================================*/
/*                                   Service-Part End===============================================*/